<html>
    <head>
        <title>
            My First ML Web App!
        </title>
    </head>
   <body>
       
       <h1 style="color: green; margin: 10px 40% 10px;">SuiGeneris.com</h1>
    <div style="width: 80%; margin: 100px auto 100px;">
        <h2>Information:</h2>
        <p style="text-align: justify;">
        We are here to give ypu the best quality . Be with us for amazing quality .
        
        </p>
        <h2>Attribute Information:</h2>
        <p>
            <ol>
                <li>dress length in cm.</li>
                <li>dress width in cm.</li>
                <li>Pant length in cm.</li>
                <li>pant width in cm.</li>
                
            </ol>
        </p>
    </div>
   </body>
</html>