<!DOCTYPE html>
<html>
<head>
	<title> First assignment </title>
	<link type="text/css" rel="stylesheet" href="css/mystylesheet.css"/>
</head>

<body>
	<h1 class="headline">My First Project</h1>
	<div class="imageAll">
	
	<div class="p1">
	<img src="image/grid-1.jpg "/>
	<div class="image">The Mind</div>
	<div class ="image1">Photoshop, Print Design </div>
	</div>
	
	
	<div class="p1">
	<img src="image/grid-2.jpg "/>
	<div class="image">The Police</div>
	<div class ="image1">Illustration, Icons </div>
	</div>
	
	<div class="p1">
	<img src="image/grid-3.jpg "/>
	<div class="image">The Glasses</div>
	<div class ="image1">Typography, Illustration</div>
	</div>
	
	<div class="p1">
	<img src="image/grid-4.jpg "/>
	<div class="image">The Mustache</div>
	<div class ="image1">Photoshop, Icons</div>
	</div>
	
	<div class="p1">
	<img src="image/grid-5.jpg "/>
	<div class="image">The Leaf</div>
	<div class ="image1">Icons, Print Design</div>
	</div>
	
	<div class="p1">
	<img src="image/grid-6.jpg "/>
	<div class="image">The Shield</div>
	<div class ="image1">Illustration, Icons</div>
	</div>
	
	</div>
	
	
	
</body>











</html>